* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: hsl(229, 57%, 11%);
  background-image: url('./images/bg-desktop.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.fylo-storage {
  display: flex;
  justify-content: space-around;
}

.usage-indicator {
  border: 1px solid red;
  display: inline;
}

.fylo {
  background-color: hsl(228, 56%, 26%);
  padding: 2rem 3.5rem;
  border-radius: 10px 100px 10px 10px;
}

.logo {
  margin-bottom: 1.5rem;
}

.icons {
  margin-left: -1.5rem;
}

.mw-65 {
  max-width: 65vw !important;
}

.img-bg {
  background-color: hsl(229, 57%, 11%);
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 10px;
  height: 2.75rem;
  width: 2.75rem;
}

.storage {
  background-color: hsl(228, 56%, 26%);
  padding: 2rem 3.5rem;
  border-radius: 10px;
  height: 75%;
  align-self: flex-end;
}

.storage-text {
  color: hsl(243, 100%, 93%);
  margin-bottom: 0.75rem;
}

.storage-text > span {
  color: white;
  font-weight: 700;
}

.storage-remaining {
  width: 150px;
  height: 60px;
  position: absolute;
  font-size: 11px;
  font-weight: 700;
  color: hsl(229, 7%, 55%);
  right: 4.25rem;
  bottom: 7.5rem;
  border-radius: 10px 10px 0px 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storage-remaining > span {
  display: flex;
  vertical-align: middle;
  font-size: 30px;
  color: hsl(229, 57%, 11%);
}

.storage-remaining::after {
  position: absolute;
  content: '';
  width: 38px;
  height: 18px;
  top: 3.7rem;
  left: 7rem;
  background-color: white;
  clip-path: polygon(50% 0%, 100% 100%, 100% 0);
}

.progress {
  border-radius: 15px;
  height: 1.3rem;
  width: 100%;
  background-color: hsl(229, 57%, 11%);
}

.progress-bar {
  text-align: left;
  display: flex;
  align-self: center;
  border-radius: 10px;
  height: 1rem;
  margin-left: 2.25px;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  animation: progress-bar-load 4s ease-out;
}

.progress-bar > span {
  width: 12px;
  position: relative;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  top: -0.05rem;
  display: flex;
  margin-left: auto;
  margin-right: 0.2rem;
}

@keyframes progress-bar-load {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

.storage-minmax {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
  color: hsl(243, 100%, 93%);
}
